<!-- 
File Name :-header.component.html	   	Created Date :-14-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this is thhe header component and its l;oaded in default.component.html					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<!-- <mat-toolbar color="{{themes()}}">-->
<mat-toolbar class="header_background">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>HMS</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="align-middle">
            <ul fxLayout="row" fxLayoutGap="20px" class="mt-3">

                <li></li>
                <!-- <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu1">
                        <mat-icon>format_color_fill</mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu" class="theme-menu">
                        <button mat-menu-item (click)='themes1()' class="theme-list">
                            <mat-icon style="color: rgb(252, 54, 87);">color_lens</mat-icon>
                            Pink
                        </button>
                        <button mat-menu-item (click)='themes2()' class="theme-list">
                            <mat-icon>color_lens</mat-icon>
                            Light
                        </button>
                        <button mat-menu-item (click)='themes3()' class="theme-list">
                            <mat-icon style="color: orangered;">color_lens</mat-icon>
                            Warm
                        </button>
                        <button mat-menu-item (click)='themes0()' class="theme-list">
                            <mat-icon style="color: blue;">color_lens</mat-icon>
                            Blue
                        </button>
                    </mat-menu>
                </li> -->
                <li>
                    <button mat-icon-button>
                        <mat-icon>live_help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon color="primary">vpn_key</mat-icon>
                            Change Password
                        </button>

                        <button mat-menu-item>
                            <mat-slide-toggle (change)="onDarkModeSwitched($event)" color="primary">Dark Mode
                            </mat-slide-toggle>
                        </button>

                        <button mat-menu-item>
                            <mat-icon color="primary">exit_to_app</mat-icon>
                            Sign Out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>