<div class="container-fluid mt-3 p-0">
    <div class="card shadow-lg">
        <div class="card-title">
            <h4 class="text-center main-bg pt-3 mt-1">- Add Hospital Detail -</h4>
        </div>
        <mat-divider class="mx-5"></mat-divider>
        <form action="" class="form-group customhover" [formGroup]="addhospitalDetail">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Hospital Name <sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Manipal" value="" formControlName="hospitalName" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('hospitalName') && addhospitalDetail.get('hospitalName').touched && addhospitalDetail.get('hospitalName').invalid">
                            Please enter this field</h6>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Established Date<sup class="text-danger">*</sup></mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Ex. MM/DD/YYYY" value="" formControlName="establishedDate" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <p style="color: red;" *ngIf="addhospitalDetail.get('establishedDate') && addhospitalDetail.get('establishedDate').touched && addhospitalDetail.get('establishedDate').invalid">
                            Please select date</p>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Postal Code<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 560099" value="" formControlName="postalCode" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('postalCode') && addhospitalDetail.get('postalCode').touched && addhospitalDetail.get('postalCode').invalid">
                            Please enter this field</h6>
                    </div>
                </div>
            </div>

            <div class="container pt-2">
                <mat-form-field class="field-full-width">
                    <mat-label>Hospital Address <sup class="text-danger">*</sup></mat-label>
                    <input matInput placeholder="Ex. Address" value="" formControlName="hospitalAddress" />
                </mat-form-field>
                <h6 style="color: red;" *ngIf="addhospitalDetail.get('hospitalAddress') && addhospitalDetail.get('hospitalAddress').touched && addhospitalDetail.get('hospitalAddress').invalid">
                    Please enter this field</h6>
            </div>

            <div class="container pt-2">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Mailing Address<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Someone@xyz.com" value="" formControlName="mailingAddress" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('mailingAddress') && addhospitalDetail.get('mailingAddress').touched && addhospitalDetail.get('mailingAddress').invalid">
                            Please enter this field</h6>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Web Address<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. www.xyz.com" value="" formControlName="webAddress" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('webAddress') && addhospitalDetail.get('webAddress').touched && addhospitalDetail.get('webAddress').invalid">
                            Please enter this field</h6>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Contact Person<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Name" value="" formControlName="contactPerson" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('contactPerson') && addhospitalDetail.get('contactPerson').touched && addhospitalDetail.get('contactPerson').invalid">
                            Please enter this field</h6>
                    </div>
                </div>
            </div>

            <div class="container pt-2">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Contact mobile number<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 00009999000" value="" formControlName="contactNumber" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('contactNumber') && addhospitalDetail.get('contactNumber').touched && addhospitalDetail.get('contactNumber').invalid">
                            Please enter this field</h6>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Mobile number<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. 00009999000" value="" formControlName="mobileNumber" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('mobileNumber') && addhospitalDetail.get('mobileNumber').touched && addhospitalDetail.get('mobileNumber').invalid">
                            Please enter this field</h6>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="field-full-width">
                            <mat-label>Email Id<sup class="text-danger">*</sup></mat-label>
                            <input matInput placeholder="Ex. Someone@xyz.com" value="" formControlName="emaiId" />
                        </mat-form-field>
                        <h6 style="color: red;" *ngIf="addhospitalDetail.get('emaiId') && addhospitalDetail.get('emaiId').touched && addhospitalDetail.get('emaiId').invalid">
                            Please enter this field</h6>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row d-flex justify-content-center p-4">
                    <div class="pr-5 mt-2">
                        <button type="submit" matStepperNext mat-raised-button color="primary">
                            <mat-icon class="mr-2">save</mat-icon>Save
                      </button>
                    </div>
                    <div class="pr-5 mt-2">
                        <button type="reset" mat-raised-button color="accent">
                            <mat-icon class="mr-2">360</mat-icon>Reset
                          </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>