<h4 class="text-center main-bg pt-3 mt-1">- Department of General Surgery -</h4>
<hr>
<div class="content das-content">
    <!-- card with routing starts   -->
    <div class="row d-flex justify-content-around mt-5 mb-3">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-3  mb-3">
            <div class="card cardWithRouting c-shadow text-center" id="c-surgery" (click)=routeToSurgery()>
                <div class="card-img">
                    <img src="../../../../../assets/img/patient/surgery-room.png" alt="" srcset="">
                </div>
                <span class="cardWithRouting-text text-center">Surgery</span>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 mb-3 mb-3">
            <div class="card cardWithRouting c-shadow text-center" id="c-presurgery" (click)=routeToPreSurgery()>
                <div class="card-img">
                    <img src="../../../../../assets/img/patient/preSurgery.png" alt="" srcset="">
                </div>
                <span class="cardWithRouting-text text-center">Pre surgery Care Plan</span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around mt-5 mb-3">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-3 mb-3">
            <div class="card cardWithRouting c-shadow text-center" id="c-postsurgery" (click)=routeToPostSurgery()>
                <div class="card-img">
                    <img src="../../../../../assets/img/patient/postSurgery.png" alt="" srcset="">
                </div>
                <span class="cardWithRouting-text text-center">Post surgery Care Plan</span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around mt-5 mb-3">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-3  mb-3">
            <div class="card cardWithRouting c-shadow text-center" id="c-discharge" (click)=routeToDischarge()>
                <div class="card-img">
                    <img src="../../../../../assets/img/patient/discharge.png" alt="" srcset="">
                </div>
                <span class="cardWithRouting-text text-center">Discharge Summery</span>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 mb-3  mb-3">
            <div class="card cardWithRouting c-shadow text-center" id="c-consumables">
                <div class="card-img">
                    <mat-icon class="icon-display">playlist_add_check</mat-icon>
                </div>
                <span class="cardWithRouting-text text-center">Surgery Consumables</span>
            </div>
        </div>
    </div>

    <!-- card with routing Ends   -->
</div>

