<!-- 
File Name :-adddoctors.component.html	   	Created Date :-22-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this module is used to add doctors details,					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<div class="container-fluid mt-3 p-0">
    <div class="card shadow">
        <div class="card-title">
            <h4 class="text-center main-bg pt-3 mt-1">- Add Doctors -</h4>
        </div>
        <mat-divider class="mx-5"></mat-divider>
        <form action="" class="form-group customhover" [formGroup]="addDoctorDetailsForm">
            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-9 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Doctor Name <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. Dr. Sudhakar" value="" formControlName="doctorName" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('doctorName') && addDoctorDetailsForm.get('doctorName').touched && addDoctorDetailsForm.get('doctorName').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Qualification <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. MBBS, MD" value="" formControlName="qualification" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('qualification') && addDoctorDetailsForm.get('qualification').touched && addDoctorDetailsForm.get('qualification').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Specialization <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. Dermatologists" value="" formControlName="specialization" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('specialization') && addDoctorDetailsForm.get('specialization').touched && addDoctorDetailsForm.get('specialization').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Regester Number <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. CMS123VETO" value="" formControlName="registerNo" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('registerNo') && addDoctorDetailsForm.get('registerNo').touched && addDoctorDetailsForm.get('registerNo').invalid">
                                Please enter this field</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-5 col-sm-12 col-md-6">
           
          </div> -->
                <div class="col-lg-2 col-sm-12 col-md-6">
                    <label for="avatar">Profile Photo</label>
                    <div class="text-left mt-2">
                        <img [src]="placeholder_path" alt="" width="150px" height="180px" class="p-1 border profile-holder" (click)="photoUpload.click()" />
                        <input type="file" name="photoUpload" accept="image/*" id="photoUpload" #photoUpload (change)="getPhotoFile(photoUpload, $event)" hidden formControlName="avatar" />
                        <div>
                            <span class="candidate-photo-name">&nbsp;&nbsp;</span>
                            <span style="color: red;" *ngIf="photoMessage">{{
                  photoMessage
                }}</span>
                        </div>
                        <br />
                    </div>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('avatar') && addDoctorDetailsForm.get('avatar').touched && addDoctorDetailsForm.get('avatar').invalid">
                        Please enter this field</p>
                </div>
            </div>

            <!-- <div class="row d-flex justify-content-around ml-5 mr-5">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <mat-form-field class="field-full-width">
              <mat-label>Doctor Name</mat-label>
              <input matInput placeholder="Ex. Dr. Sudhakar" value="" />
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-6">
            <mat-form-field class="field-full-width">
              <mat-label>Qualification</mat-label>
              <input matInput placeholder="Ex. MBBS, MD" value="" />
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-6">
            <mat-form-field class="field-full-width">
              <mat-label>Specialization</mat-label>
              <input matInput placeholder="Ex. Dermatologists" value="" />
            </mat-form-field>
          </div>
        </div> -->

            <div class="row d-flex justify-content-around ml-5 mr-5">
                <div class="col-lg-2 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width">
                        <mat-label>Date Of Birth <sup class="text-danger">*</sup></mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Ex. 7/2/1995" value="" #dob (dateChange)='ageFromDateOfBirth($event)' formControlName="dob" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('dob') && addDoctorDetailsForm.get('dob').touched && addDoctorDetailsForm.get('dob').invalid">
                        Please select photo</p>
                </div>
                <div class="col-lg-1 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width">
                        <mat-label>Age <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. 25" value="{{age}}" formControlName="age" readonly="true" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('age') && addDoctorDetailsForm.get('age').touched && addDoctorDetailsForm.get('age').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-3 mt-4 col-sm-12 col-md-6 text-center">
                    <mat-label>Gender <sup class="text-danger">*</sup></mat-label>
                    <mat-radio-group aria-label="Select Your Gender" color="primary" formControlName="gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <!-- <mat-radio-button value="3">Others</mat-radio-button> -->
                    </mat-radio-group>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('gender') && addDoctorDetailsForm.get('gender').touched && addDoctorDetailsForm.get('gender').invalid">
                        Please select your gender</p>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width">
                        <mat-label>Experience <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. 5 years" value="" formControlName="experience" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('experience') && addDoctorDetailsForm.get('experience').touched && addDoctorDetailsForm.get('experience').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width">
                        <mat-label>Joining Date <sup class="text-danger">*</sup></mat-label>
                        <input matInput [matDatepicker]="jdate" placeholder="Ex. 6/29/2020" value="" formControlName="joiningDate" />
                        <mat-datepicker-toggle matSuffix [for]="jdate"></mat-datepicker-toggle>
                        <mat-datepicker #jdate></mat-datepicker>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('joiningDate') && addDoctorDetailsForm.get('joiningDate').touched && addDoctorDetailsForm.get('joiningDate').invalid">
                        Please enter this field</p>
                </div>
            </div>

            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4 class="text-center main-bg-2">Morning visiting time <sup class="text-danger">*</sup></h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>From</mat-label>
                                <input matInput type="time" placeholder="Ex. Dermatologists" value="" class="time" formControlName="morningVisitFrom" />
                                <mat-icon matSuffix color="primary">access_time</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('morningVisitFrom') && addDoctorDetailsForm.get('morningVisitFrom').touched && addDoctorDetailsForm.get('morningVisitFrom').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>To</mat-label>
                                <input matInput type="time" placeholder="Ex. Dermatologists" value="" class="time" formControlName="morningVisitTo" />
                                <mat-icon matSuffix color="primary">access_time</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('morningVisitTo') && addDoctorDetailsForm.get('morningVisitTo').touched && addDoctorDetailsForm.get('morningVisitTo').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4 class="text-center main-bg-2">Evening visiting time <sup class="text-danger">*</sup></h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>From</mat-label>
                                <input matInput type="time" placeholder="Ex. Dermatologists" value="" class="time" formControlName="eveningVisitFrom" />
                                <mat-icon matSuffix color="primary">access_time</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('eveningVisitFrom') && addDoctorDetailsForm.get('eveningVisitFrom').touched && addDoctorDetailsForm.get('eveningVisitFrom').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>To</mat-label>
                                <input matInput type="time" placeholder="Ex. Dermatologists" value="" class="time" formControlName="eveningVisitTo" />
                                <mat-icon matSuffix color="primary">access_time</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('eveningVisitTo') && addDoctorDetailsForm.get('eveningVisitTo').touched && addDoctorDetailsForm.get('eveningVisitTo').invalid">
                                Please enter this field</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="field-full-width">
                        <mat-label>Address <sup class="text-danger">*</sup></mat-label>
                        <textarea matInput placeholder="Ex. #83, 6th cross opposite to kfc, jalahalli bangalore" formControlName="address"></textarea>
                        <mat-icon matSuffix color="primary">home</mat-icon>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('address') && addDoctorDetailsForm.get('address').touched && addDoctorDetailsForm.get('address').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Telephone <sup class="text-danger">*</sup></mat-label>
                                <span matPrefix>+91 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                                <mat-icon matSuffix color="primary">phone</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('phoneNumber') && addDoctorDetailsForm.get('phoneNumber').touched && addDoctorDetailsForm.get('phoneNumber').invalid">
                                {{phoneNumberInputMsg}}</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="field-full-width">
                                <mat-label>Email Id <sup class="text-danger">*</sup></mat-label>
                                <input matInput type="email" placeholder="Ex. example@abc.com" value="" formControlName="emailId" />
                                <mat-icon matSuffix color="primary">email</mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addDoctorDetailsForm.get('emailId') && addDoctorDetailsForm.get('emailId').touched && addDoctorDetailsForm.get('emailId').invalid">
                                {{emailIdInputMsg}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!-- <mat-form-field class="field-full-width">
              <mat-label>Role</mat-label>
              <input matInput placeholder="Ex. Surgen" value="" />
            </mat-form-field> -->
                    <mat-form-field class="field-full-width">
                        <mat-label>Role <sup class="text-danger">*</sup></mat-label>
                        <mat-select formControlName="doctorRole">
                            <mat-option *ngFor="let role of doctorRoleList" [value]="role">
                                {{role.doctorRoleName}}
                            </mat-option>
                        </mat-select>
                        <!-- <option [ngValue]="null">Select Here</option>
              <option *ngFor="let job of jobsList" [ngValue]="job">{{job.jobTitleName}}</option> -->
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('doctorRole') && addDoctorDetailsForm.get('doctorRole').touched && addDoctorDetailsForm.get('doctorRole').invalid">
                        Please select role</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width">
                        <mat-label>Pan No <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. example@abc.com" value="" formControlName="panNo" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('panNo') && addDoctorDetailsForm.get('panNo').touched && addDoctorDetailsForm.get('panNo').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width">
                        <mat-label>Aadhar No <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. example@abc.com" value="" formControlName="aadharNo" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addDoctorDetailsForm.get('aadharNo') && addDoctorDetailsForm.get('aadharNo').touched && addDoctorDetailsForm.get('aadharNo').invalid">
                        Please enter this field</p>
                </div>
            </div>
            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-4 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-around">
                    <button type="submit" mat-raised-button color="primary" [disabled]='addDoctorDetailsForm.invalid'>
                        <mat-icon class="mr-2">save</mat-icon>Submit
                    </button>
                    <button type="reset" mat-raised-button color="accent">
                        <mat-icon class="mr-2">360</mat-icon>Reset
                    </button>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">

                </div>
            </div>
        </form>
    </div>
</div>