<br />
<h4 class="title-header">- Staff List -</h4>
<div class="text-right">
    <button (click)="routeToAddStaff()" class="addButton btn">Add Staff</button>
</div>
<br />
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Staff Name</th>
            <td mat-cell *matCellDef="let row">{{dataSource.filteredData.indexOf(row) + 1}}.</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Aadhar Number
            </th>
            <td mat-cell *matCellDef="let row">{{ row.doctorName }}</td>
        </ng-container>

        <!-- Specialization Column -->
        <ng-container matColumnDef="specialization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Staff Role
            </th>
            <td mat-cell *matCellDef="let row">{{ row.specialization }}</td>
        </ng-container>

        <!-- visitingTime Column -->
        <ng-container matColumnDef="morningVisitFrom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Mobile Number
            </th>
            <td mat-cell *matCellDef="let row">{{ row.morningVisitFrom }}</td>
        </ng-container>

        <!-- contactNumber Column -->
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Blood Group
            </th>
            <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table_header">Action</th>
            <td mat-cell *matCellDef="let row">
                <div class="action-btn">
                    <a (click)="routeToEditDoctor(this.row)" class="action-link">
                        <mat-icon class="edit-btn" title="Edit">edit</mat-icon>
                    </a>
                </div>
                <span style="color: #3f51b5;">|</span>
                <div class="action-btn">
                    <a (click)="routeToDeleteDoctor(this.row.doctorId, this.row)" class="action-link">
                        <mat-icon class="delete-btn" title="Delete">delete_forever</mat-icon>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>