<!-- 
File Name :-appointmenthome.component.html	   	Created Date :-16-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to load add appointment and list appointment,					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<router-outlet></router-outlet>