.master-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .card{
      background-color: inherit;
  }
  
  .master-full-width {
    width: 100%;
  }
  .submit-btn {
    outline: 0;
    border-radius: 4px;
    padding: 3px 30px 2px 26px;
  }
  
  .reset-btn {
    outline: 0;
    border-radius: 4px;
    padding: 3px 30px 2px 26px;
    background-color: var(--main-bg-2-color);
  }
  * {
    border-radius: 0px;
  }
  
  .main-bg {
    color: var(--main-font-4-color);
  }

  p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  table {
    width: 100%;
  }
  
  .search {
    text-align: center;
    font-size: 14px;
    width: 60%;
  }
  
  .title-header {
    text-align: center;
    color: var(--main-font-4-color);
  }
  
  
  .table_header {
    text-align: center;
    font-size: 15px;
    color: var(--main-font-4-color);
  }
  
  td {
    text-align: center;
  }
  
  .action-btn {
    border-radius: 16px;
    min-width: 20px !important;
    display: inline;
    padding: 2px;
    /* margin: 5px; */
  }
  
  .action-link {
    font-weight: 500;
    font-size: 8px;
    margin: 5px;
    color: var(--main-font-3-color);
    cursor: pointer;
  }
  
  .action-btn:hover {
    color: var(--main-font-4-color);
    /* background-color: var(--main-bg-2-color); */
  }
  
  .edit-btn,
  .delete-btn {
    font-size: 20px;
  }
  
  .outline-0 {
    outline: 0;
  }
  
  .row-style {
    border-left: 3px solid rgba(0, 0, 0, 0);
    /* cursor: pointer; */
  }
  
  .row-style:hover {
    border-left: 3px solid var(--main-bg-2-color);
    background-color: inherit;
  }
  