<!-- 
File Name :-footer.component.html	   	Created Date :-14-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this is the footer component	which is to display footer and its loaded in default.component.html(currently this is not used)				
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<mat-divider></mat-divider>
<footer class="text-center">
    &copy:All rights reserved 2020
</footer>